{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup | Admin CRM Dashboard</title>
    <meta name="description" content="A modern CRM Dashboard Template with reusable and flexible components for your SaaS web applications by hencework. Based on Bootstrap."/>
    
	<!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- CSS -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
   	<!-- Wrapper -->
	<div class="hk-wrapper hk-pg-auth" data-footer="simple">
		<!-- Main Content -->
		<div class="hk-pg-wrapper pt-0 pb-xl-0 pb-5">
			<div class="hk-pg-body pt-0 pb-xl-0">
				<!-- Container -->
				<div class="container-xxl">
					<!-- Row -->
					<div class="row">
						<div class="col-sm-10 position-relative mx-auto">
							<div class="auth-content py-8">
								<form class="w-100" method="POST">
									<div class="row">
										<div class="col-xxl-5 col-xl-7 col-lg-8 col-sm-10 mx-auto">
											<div class="card card-border">
												<div class="card-body">
													<h4 class="text-center mb-0">Регистрация</h4>
													<p class="p-xs mt-2 mb-4 text-center">У вас уже есть аккаунт? <a href="{% url 'login' %}"><u>Войти</u></a></p>
													<div class="row gx-3">
														<div class="form-group col-lg-6">
															<label class="form-label">Имя</label>
															<input class="form-control" placeholder="Введите имя" value="" type="text">
														</div>
														<div class="form-group col-lg-6">
															<label class="form-label">Логин</label>
															<input class="form-control" placeholder="Введите логин" value="" type="text">
														</div>
														<div class="form-group col-lg-12">
															<label class="form-label">Email</label>
															<input class="form-control" placeholder="Введите ваш email" value="" type="text">
														</div>
														<div class="form-group col-lg-12">
															<label class="form-label">Пароль</label>
															<div class="input-group password-check">
																<span class="input-affix-wrapper affix-wth-text">
																	<input class="form-control" placeholder="Введите пароль" value="" type="password">
																	<a href="#" class="input-suffix text-primary text-uppercase fs-8 fw-medium">
																		<span>Show</span>
																		<span class="d-none">Hide</span>
																	</a>
																</span>
															</div>
														</div>
													</div>
													<input class="btn btn-primary btn-uppercase btn-block" type="submit" value="Регистрация">
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
				<!-- /Container -->
			</div>
			<!-- /Page Body -->

			<!-- Page Footer -->

			<!-- / Page Footer -->
		
		</div>
		<!-- /Main Content -->
	</div>
    <!-- /Wrapper -->

	<!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
   	<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- FeatherIcons JS -->
    <script src="{% static 'dist/js/feather.min.js' %}"></script>

    <!-- Fancy Dropdown JS -->
    <script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>

	<!-- Simplebar JS -->
	<script src="{% static 'vendors/simplebar/dist/simplebar.min.js' %}"></script>
	
	<!-- Init JS -->
	<script src="{% static 'dist/js/init.js' %}"></script>
</body>
</html>